h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Contexto normativo y beneficios ambientales asociados a la implementación de la economía circular', 'main.html#page/contexto_normativo/')
                    +navTemaItem('2', 'Generación de propuestas de aplicación de la economía circular', 'main.html#page/generacion_de_propuestas/')                                                        
                                       