.container
    .header-ecored
        h1 2. Generación de propuestas de aplicación de la economía circular
    .jumbotron.bg-white
        p En esta unidad se abordará el concepto de innovación en el marco de la Economía circular, donde se darán a conocer algunos ejemplos de iniciativas y de modelos de negocio que aplican las tipologías de la Economía circular. Además, se proporcionarán algunas técnicas de ideación con ejemplos de aplicación, para que pueda generar una propuesta de aplicación de Economía circular en su contexto productivo o social. 

        .quote.mt-5
            .quote__bar
                .quote__bar__icon    
                    img(src="assets/images/icons/quote_01.svg", alt="")
                .quote__bar__hr      
            .quote__text
                h3 Nota de reflexión:  
                p.mb-0 #[i “El mundo está cambiando aceleradamente, ha cambiado nuestra forma de pensar, de ver y de cómo nos relacionamos con él, lo que ha llevado a las empresas a ser más competitivas y por medio de la innovación permitir la transición hacia un nuevo modelo de Economía circular” (Verde, 2018).]   
            .quote__bar
                .quote__bar__hr 
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg", alt="") 
        
        .sub-ecored.mt-5#21                
            h2 2.1 Innovación en la Economía Circular 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt
                h3 Innovación en la Economía Circular

        .sub-ecored-teme.mt-5
            h3 Definición de Innovación 

        .row.justify-content-center.align-items-center.mt-5
            .col
                p La etimología de la palabra innovación proviene del latín "innovativo", que significa "crear algo nuevo". Por lo tanto, innovación es un cambio que se introduce a un nuevo proceso, producto, servicio o nuevo método de organización o comercialización y se refiere al desarrollo de elementos nuevos o a la acción de modificar los ya existentes, con el fin de mejorar las prácticas internas de la empresa, los productos, servicios o relaciones externas con los clientes, proveedores, comunidad, entre otras (García, 2017). 

            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img18.svg").img-fluid                          

        .sub-ecored-teme.mt-5
            h3 Gestión de la Innovación    
        p En 1937, Joseph Schumpeter introdujo el concepto de innovación, afirmando que es un factor clave para el desarrollo empresarial y el crecimiento económico de los países, y consideró que quienes invierten en investigación e innovación son los que tendrán economías más sólidas, alcanzando mayor riqueza (OCDE, 2005), debido a que la innovación consiste en generar buenas ideas, convertirlas en mejores procesos, productos o servicios, cuyo éxito se debe ver reflejado en el mercado. 

        .jumbotron.bg-color-2.mt-5
            img.img-a(src="assets/images/pages/ilustraciones/img19.svg").img-fluid                                  

        .sub-ecored-teme.mt-5
            h3 Tipos de Innovación    
        .row.justify-content-center.align-items-center.my-5 
            .col-12.col-lg-10.d-flex.justify-content-center
            a(href="media/documentos/Tipos_de_Innovacion_EC.pdf", target="_blank")
                img(src="assets/images/pages/ilustraciones/img20.svg", alt="").img-fluid 

        .sub-ecored-teme.mt-5
            h3 Ejemplos de tipos de innovación  
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img21.svg").img-fluid                                                     
            .col
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        h3 Innovación en producto o servicio: 

                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p Nuevos productos: el teléfono iPhone o el primer reproductor portátil de MP3.

                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p Nuevos servicios o mejora de los existentes: creación de aplicaciones móviles, juegos, páginas interactivas, acceso a navegadores, mapas y redes sociales. 
                        p Fuente: Adaptado de Canal innova (2020).
                hr.bg-brand-color-dark
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        h3 Innovación de proceso: 

                        p Nuevas tecnologías de fabricación, incremento en el nivel de automatización de los procesos productivos. Pueden ser en dos vías: 

                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p Métodos de producción: aumentan la duración del producto por medio de la aplicación de CO2.
                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p Métodos de entrega: el establecimiento de un sistema de información para el seguimiento o monitoreo de mercancías o productos con código QR.
                        p Fuente: Adaptado de Canal innova (2020).
                hr.bg-brand-color-dark
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        h3 Innovación organizacional o de gestión: 

                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p La implementación de un sistema de información para la contratación de personal, o para el manejo y administración de archivos.
                hr.bg-brand-color-dark
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        h3 Innovación de marketing o de modelos de negocio:

                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p Spotify desarrolló un modelo de negocio premium, donde se puede escuchar un catálogo de música gratis online con publicidad.
                .list.ml-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                    .list__txt
                        p Netflix pasó de tener un catálogo de películas por mensualidad, a desarrollar su propio contenido con un modelo de negocio por suscripción. 

        .sub-ecored-teme.mt-5
            h3 Clases de innovación tecnológica  
        .row.justify-content-center.mt-5
            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img22.svg").img-fluid    
                        p #[strong Innovación incremental:] son pequeños cambios o mejoras que contribuyen a optimizar la eficiencia de un producto o servicio en un proceso productivo. Ejemplo: el teléfono celular.  
            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img23.svg").img-fluid    
                        p #[strong Innovación radical:] se caracteriza por ser disruptiva en el desarrollo o conceptualización de un producto o servicio, ofreciendo un cambio sustancial o revolucionario a nivel tecnológico. Ejemplo:  el primer computador.
        .sub-ecored-teme.mt-5
            h3 Importancia de la innovación en la economía circular        
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img24.svg").img-fluid              
            .col
                hr.bg-brand-color-dark
                p La innovación es un gran aliado de este nuevo concepto que acelera la búsqueda de nuevas soluciones tecnológicas que permitan mejorar los procesos actuales de producción y consumo (Castillo, B., 2019).
                hr.bg-brand-color-dark
                p Innovar significa encontrar nuevos o mejorados usos a los recursos que ya disponemos; la innovación es un poderoso catalizador de la Economía circular (Drucker, P.; 1932).
                hr.bg-brand-color-dark
                p La innovación es un gran compañero de la economía circular y sin duda, la aspiración de alcanzar un sistema circular estimula ideas creativas e innovadoras (Castillo, B., 2019).
                hr.bg-brand-color-dark

        .sub-ecored.mt-5#22
            h2 2.2 Tipologías de iniciativas innovadoras y modelos de negocio 

        .row.justify-content-center.align-items-center.my-5 
            .col-12.col-lg-10.d-flex.justify-content-center
            a(href="media/documentos/Iniciativas_innovadoras.pdf", target="_blank")
                img(src="assets/images/pages/ilustraciones/img25.svg", alt="").img-fluid    

        .sub-ecored.mt-5#23
            h2 2.3 Ejemplos de iniciativas innovadoras en el marco de  Economía circular 
        P A continuación se presentan ejemplos de modelos de negocio de las iniciativas de tipologías innovadoras de Economía circular (Gobierno de la República de Colombia, 2019). 

        .jumbotron.bg-color-2.mt-5 
            img.img-a(src="assets/images/pages/ilustraciones/img260.svg", alt="").img-fluid 
            
            p.mt-3.text-center Fuente: Estrategia Nacional de Economía Circular (ENEC). Gobierno de la República de Colombia (20219).  

        .sub-ecored.mt-5#24
            h2 2.4 Estrategias de ideación 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt
                h3 Método SCAMPER
        p Técnica creativa utilizada para la generación de ideas a través de la solución de un listado de preguntas que hacen referencia a unas palabras, cuyas iniciales conforman la palabra SCAMPER. Las ideas se enfocan en: 
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img28.svg").img-fluid              
            .col 
                p #[strong S]ustituir: ¿Qué se puede sustituir? ¿qué pasa si se sustituye el proceso?
                p #[strong C]ombinar: ¿Qué pasaría si se combinan las características de este producto con otro?
                p #[strong A]daptar: ¿Cómo se puede adaptar el producto/servicio para una nueva necesidad?
                p #[strong M]odificar: ¿Qué se puede modificar para organizar mejor?
                p #[strong P]oner otros usos: ¿Cómo se puede usar el producto en otros contextos?
                p #[strong E]liminar: ¿Qué se puede eliminar para simplificar el producto/servicio/proyecto?
                p #[strong R]eordenar: ¿Qué pasa si cambiamos la estructura del servicio/proyecto?

        p.mt-5 Esta técnica plantea un producto, servicio o actividad ya existente, a la cual se pretende darle vuelta a la idea inicial y mejorarla, abordando el problema desde varias perspectivas nuevas, obligando a las mentes del equipo a trabajar desde una amplia gama de posibilidades y todas diferentes (Eberlee, 1971).

        section.mt-5
            a(href="https://www.youtube.com/watch?v=5ddT0ukzEBs" target="_blank").media-link

                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p #[strong Video.] Método SCAMPER.
                    p #[strong Fuente:] profeceleita_canal

        .sub-ecored-teme.mt-5
            h3 Design thinking
        p Es una metodología de ideación ampliamente utilizada para procesos innovadores, en donde la persona o grupo que hace el proceso pasa por cinco fases diferentes, descritas a continuación (Doorley et al, 2018). 

        .row.justify-content-center.mt-5
            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img29.svg").img-fluid    
                        p #[strong Empatizar:] es la capacidad de identificarse con las necesidades o problemas de la otra persona, en otras palabras, es colocarse sus zapatos para conocer sus problemas y así poder diseñar de forma creativa las posibles soluciones. La empatía se construye a partir del aprendizaje de los valores del usuario de la idea.     

            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img30.svg").img-fluid    
                        p #[strong Definir:] es cuando se revelan los hallazgos encontrados en la etapa de empatía y se convierten en necesidades e ideas con el fin de establecer un desafío donde se entienden las percepciones o puntos de vista de cada uno de los integrantes. En esta etapa se define el problema y la visión hacia el desafío a resolver.   

            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img31.svg").img-fluid    
                        p #[strong Idear:] consiste en interpretar y analizar con detalle las ideas propuestas en la fase previa. En este punto se analiza si lo propuesto es viable para el contexto del proyecto y si es posible hacer un prototipo de dichas ideas. Es un método de convergencia o filtrado de ideas y un método de divergencia para generar nuevas propuestas más sólidas.      

            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img32.svg").img-fluid    
                        p #[strong Prototipar:] es una forma de materializar las ideas y mostrarlas al mundo. Los prototipos en su fase inicial deben utilizar pocos recursos y ser económicos, esto permitirá interactuar más fácil con ellos y probarlos para conocer sus ventajas y desventajas. El aprendizaje de las interacciones con prototipos impulsa una empatía más profunda y da forma a soluciones exitosas.    

            .col-10
                .card-media.color-card-media
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img33.svg").img-fluid    
                        p #[strong Testear:] en esta etapa se recopilan los comentarios o retroalimentación y se pule la o las soluciones, tratando de entender aún más a los usuarios. En esta etapa iterativa se realiza el prototipo de modelos de baja escala en contextos del usuario definidos, con el fin de entender o visualizar si la solución propuesta está bien o no.

            p.mt-5 La ventaja de esta metodología es que siempre se puede retomar fases anteriores, bien sea para hacer revisiones que complementen la idea final o para hacer ajustes a las ideas generadas del proceso.

            .jumbotron
                p Para complementar la información lo invitamos a consultar el siguiente material complementario:

                .row.justify-content-center.align-items-center
                    .col-12.col-md-6
                        section
                            a(href="https://www.youtube.com/watch?v=kwIJo4Ia4qI" target="_blank").media-link

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p #[strong Video.] Taller de Creatividad Design Thiking 

                    .col-12.col-md-6 
                        section
                            a(href="https://repositorio.uesiglo21.edu.ar/bitstream/handle/ues21/14439/GU%c3%8dA%20DEL%20PROCESO%20CREATIVO.pdf?sequence=1&isAllowed=y" target="_blank").media-link

                                img(src="assets/images/pages/ilustraciones/icon_www.svg", alt="").media-link-icon

                                .media-link-title.ml-4
                                    p Una introducción al Design Thinking Desarrollada por Plattner (2018)
                                          
        .sub-ecored-teme.mt-5
            h3 Lean Startup
        p La metodología Lean Startup nace como solución para todas las ideas innovadoras que fácilmente no logran surgir como emprendimientos o negocios funcionales. Actualmente, menos del 15% de las ideas generadas llegan realmente a implementarse de manera exitosa, por lo que esta metodología permite reducir ese porcentaje de fracaso y hacer que una idea sea viable para su implementación. La metodología Lean Startup se basa en suplir las necesidades específicas del consumidor mediante el prototipado y testeo, permitiendo hacer el lanzamiento de una idea usando la cantidad mínima de recursos y evitando al mínimo la improvisación (Llamas y Fernández, 2018).

        .jumbotron.bg-color-2.mt-5 
            img.img-a(src="assets/images/pages/ilustraciones/img34.svg", alt="").img-fluid   
            p.text-center.mt-3 Fuente: adaptado de Eric Ries (2013). “El método lean starup”.
        .header-arrow.py-4.my-5
            h3.text-center La metodología se basa en tres pilares: 
        .row.justify-content-center.align-items-center
            .col-10
                hr.bg-brand-color-dark
                .list
                    .list__item
                        .list__item__number
                            span 1 
                    .list__txt
                        p La construcción: consiste en producir un prototipo de una idea que no es necesario que esté terminado, con el objetivo de testear con los posibles usuarios y a partir de ella recopilar datos y conocer mejoras. Se trata de poner en funcionamiento el “Producto Mínimo Viable” y analizarlo para implementar sus oportunidades de mejora al producto final.    

                hr.bg-brand-color-dark
                .list
                    .list__item
                        .list__item__number
                            span 2 
                    .list__txt
                        p La medición: esta fase plantea la medición de las necesidades de los potenciales usuarios para que así, el producto se ajuste a lo que se espera o se quiere de él.
                hr.bg-brand-color-dark
                .list
                    .list__item
                        .list__item__number
                            span 3 
                    .list__txt
                        p El aprendizaje: se basa en aprender de la aplicación de la idea en los usuarios finales. Es importante tener claro, que lo aprendido sirve para mejorar el proceso basado en los nuevos conocimientos adquiridos en la etapa de testeo.
                hr.bg-brand-color-dark
        p.mt-5 Es importante aclarar que las metodologías presentadas anteriormente no son las únicas, actualmente existe una gran variedad que permite al innovador materializar su idea de sostenibilidad o emprendimiento. A continuación, se describen las otras metodologías.   

        .jumbotron.bg-color-2.mt-5 
            img.img-a(src="assets/images/pages/ilustraciones/img35.svg", alt="").img-fluid   
            p.text-center.mt-3 Fuente: Adaptado de ComputerworldEC., (2020).  

        .sub-ecored-teme.my-5
            h3 Ejemplos de modelo de negocio: contexto nacional.

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2yqRTxFaKew', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')   

        .sub-ecored.mt-5#25
            h2 2.5 Ejemplos de modelos de ideación aplicada a negocios                  

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt
                h3 Ejemplos de ideación aplicada a negocios

        p A continuación se presentan algunos ejemplos de ideación aplicada a empresas o modelos de negocios de Economía circular.
        .sub-ecored-teme.mt-5
            h3 Ideas                                       
        .row.justify-content-center.align-items-center.mt-5
            .col-11
                        
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Aprovechamiento de residuos de lana de oveja como materia prima para ser introducido como aislante térmico para chaquetas de alta calidad.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Producción de cerveza artesanal, agregando residuos de pan duro de otra industria como ingrediente tradicional.  

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Utilización de residuos de vidrio triturado como materia prima en la fabricación de cemento.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Elaboración de ladrillos con residuos de escorias de fundidoras de metales. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Uso de tecnologías de la información para optimizar los procesos de transporte de mercancías peligrosas, permitiendo el seguimiento, trazabilidad y reducción del riesgo de incidencias durante el aprovisionamiento, tránsito, y descarga final del producto en el destino.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Reutilización de las cabinas de las  ambulancias, mediante la separación de la cabina del motor, disminuyendo la generación de residuos.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Un banco público de herramientas de construcción o carpintería para ser prestadas o alquiladas. Disminuye la compra de insumos por parte de los usuarios y optimiza el tiempo de uso de las herramientas.  

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Plataforma de alojamiento que permite el alquiler de un bien inmueble por un tiempo determinado. Es un contrato de arrendamiento por cortos periodos de tiempo. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Modelos de plataformas de transporte que permiten el alquiler de vehículos por trayectos o por tiempo. Se cobra por aplicación y el cálculo del costo final es por GPS desde el celular. Permite que los usuarios no compren un vehículo. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Productos como el papel de piedra, fabricado con caliza y resina, que se puede reciclar infinitamente. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Vehículos diseñados para ser reciclados una vez terminan su vida útil. Se recuperan más del 30% de sus piezas y se reciclan más del 60% de sus componentes. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
                    .list__txt
                        p Artículos de moda, fabricados con residuos plásticos recolectados del lecho del mar.
                p.mt-3.text-center Fuente: adaptado de Eco Circular, (2020). 

        .sub-ecored-teme.mt-5
            h3 Ideas de aplicación de la Economía Circular en empresas colombianas
        p En Colombia, diferentes empresas de varios sectores están aplicando la Economía circular, en diversas líneas de acción de la estrategia nacional.
        .header-arrow.py-4.my-5
            h3 A continuación se detallan algunas de estas iniciativas 

        .row.mt-6
            .col-2
                #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                    a#v-pills-home-tab.nav-link.active(data-toggle='pill', href='#v-pills-1', role='tab', aria-controls='v-pills-1', aria-selected='true') Caso 1 
                    a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-2', role='tab', aria-controls='v-pills-2', aria-selected='false') Caso 2 
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-3', role='tab', aria-controls='v-pills-3', aria-selected='false') Caso 3 
                    a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-4', role='tab', aria-controls='v-pills-4', aria-selected='false') Caso 4 
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-5', role='tab', aria-controls='v-pills-5', aria-selected='false') Caso 5
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-6', role='tab', aria-controls='v-pills-6', aria-selected='false') Caso 6
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-7', role='tab', aria-controls='v-pills-7', aria-selected='false') Caso 7
                    a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-8', role='tab', aria-controls='v-pills-8', aria-selected='false') Caso 8
            .col-9
                #v-pills-tabContent.tab-content
                    #v-pills-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-1-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Universidad EAN 
                        img.img-a(src="assets/images/pages/ilustraciones/1.PNG", alt="").img-fluid   

                    #v-pills-2.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-2-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Nacional de Chocolates 
                        img.img-a(src="assets/images/pages/ilustraciones/2.PNG", alt="").img-fluid       

                    #v-pills-3.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-3-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Manuelita 
                        img.img-a(src="assets/images/pages/ilustraciones/3.PNG", alt="").img-fluid  

                    #v-pills-4.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-4-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Maat 
                        img.img-a(src="assets/images/pages/ilustraciones/4.PNG", alt="").img-fluid   

                    #v-pills-5.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-5-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Ecopetrol 
                        img.img-a(src="assets/images/pages/ilustraciones/5.PNG", alt="").img-fluid                       

                    #v-pills-6.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-6-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3  Caso Doña Juana
                        img.img-a(src="assets/images/pages/ilustraciones/6.PNG", alt="").img-fluid   

                    #v-pills-7.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-7-tab')
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Argos 
                        img.img-a(src="assets/images/pages/ilustraciones/7.PNG", alt="").img-fluid   

                    #v-pills-8.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-8-tab')  
                        .list.mb-2
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
                            .list__txt
                                h3 Caso Aliar 
                        img.img-a(src="assets/images/pages/ilustraciones/8.PNG", alt="").img-fluid   

        p.mt-5 Existen diferentes números de modelo de negocio innovadores que han creado o transformado los productos y servicios, de manera que crean valor para el cliente, para el sector y para el ambiente.   
