.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td mh education. (2018).Innovación Empresarial.
                    
                    td Página web 
                    td 
                        a(href="https://www.mheducation.es/bcv/guide/capitulo/8448614224.pdf", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> ver

                tr
                    td Cotec. (2017). Economía Circular: descubre lo que es antes de que reviente el Planeta.

                    td Video   
                    td 
                        a(href="https://youtu.be/Lc4-2cVKxp0", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> ver     

                tr
                    td ProfeCeleita. (2019). Método Scamper y ejemplos. 

                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=5ddT0ukzEBs", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> ver

                tr
                    td De la Peña. N.(2019). Modelos de negocio Innovadores.

                    td Documento
                    td 
                        a(href="https://es.semrush.com/blog/modelos-de-negocio-innovadores/", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> ver

                
                tr
                    td García G. (2017). Innovación y Economía Circular. 

                    td Página Web
                    td 
                        a(href="https://cotec.es/los-100/foro-innova100/innovar-economia-circular-reinventar-sistema/", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> ver