include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("BioPak. (2016). Australian Packaging Covenant. 2016-2018 Action Plan. ", " ")

        +referenciaItem("Cámara de comercio de  España.(2020). El proceso de innovación. ", "https://www.camara.es/innovacion-y-competitividad/como-innovar/tipos")

        +referenciaItem("Castrillo, B. (2019). Una innovación transversal para alcanzar los retos de la economía circular. Blog ferrovial. ", "https://blog.ferrovial.com/es/2019/06/innovacion-economia-circular/#:~:text=La%20Econom%C3%ADa%20Circular%20es%20un,actuales%20de%20producci%C3%B3n%20y%20consumo.")

        +referenciaItem("Corporación Autónoma Regional de Cundinamarca. (2019). Centro de Conocimiento de Casos. ", "http://www.redescar.org/resultados-redescar/casos-de-exito")

        +referenciaItem("Congreso de La República. (2014). Ley 1715 . Bogotá", " ")

        +referenciaItem("Conesa Ripoll, V., Conesa Ripoll, L. A., & Ros Garro, V. (2010). Guía metodológica para la evaluación del impacto ambiental. ", " ")
       
        +referenciaItem("ComputerworldEC (2020). 6 metodologías imprescindibles para innovar.", "https://www.computerworld.com.ec/actualidad/tendencias/1089-6-metodologias-imprescindibles-para-innovar.html")


        +referenciaItem("Cotec. ( 2017). Fundación para la Innovación. Innovación y Economía Circular. Economía Circular: descubre lo que es antes de que reviente el Planeta. ", "https://youtu.be/Lc4-2cVKxp0")


        +referenciaItem("Doorley, S.; Holcomb, S.; Kliebahn, P.; Segovia, K. y Utley, J. (2018). Design Thinking Bootleg. Hasso Plattner Institute of Design at Stanford. ", "https://dschool.stanford.edu/resources/design-thinking-bootleg")

        +referenciaItem("Ellen MacArthur Foundation. (2019). The Circular Economy in Detail. ", "https://www.ellenmacarthurfoundation.org/explore/the-circular-economy-in-detail")        

        +referenciaItem("Ellen MacArthur Foundation. (2020). Closing the loop on single-use food packaging.", "https://www.ellenmacarthurfoundation.org/case-studies/closing-the-loop-on-single-use-food-packaging")

        +referenciaItem("Eberle, R. F. (1971). Scamper: games for imagination development. BuffaloN. YDOK.", " ")

        +referenciaItem("Garcia. G. (2017). Innovación y Economía Circular. Fundación Cotec para la Innovación. España. Publicado 23.02.2017. ", "https://cotec.es/los-100/foro-innova100/innovar-economia-circular-reinventar-sistema/")

        +referenciaItem("Gobierno de la República de Colombia. (2019). Estrategia Nacional de Economía Circular. Cierre de ciclos de materiales, innovación tecnológica, colaboración y nuevos modelos de negocio.", "http://www.andi.com.co/Uploads/Estrategia%20Nacional%20de%20EconA%CC%83%C2%B3mia%20Circular-2019%20Final.pdf_637176135049017259.pdf.")

        +referenciaItem("Gobierno de Colombia. (2014). “Ley 1715 de 2014”; por medio de la cual se regula la integración de las energías renovables no convencionales al sistema energético nacional. ", "https://www.upme.gov.co/Normatividad/Nacional/2014/LEY_1715_2014.pdf")

        +referenciaItem("Green Peace. (2017). Datos sobre la producción de plásticos. ", "https://es.greenpeace.org/es/trabajamos-en/consumismo/plasticos/datos-sobre-la-produccion-de-plasticos/")

        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. (2014). Plan Nacional de Negocios Verdes. ", "https://www.minambiente.gov.co/index.php/component/content/article/1385-plantilla-negocios-verdes-y-sostenibles-40")

        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. (2019). Resolución 2184. Bogotá.", " ")

        +referenciaItem("Ministerio de Hacienda y Crédito Público. (2020). Decreto 829. Bogotá.", " ")

        +referenciaItem("Ministerio de Vivienda, Ciudad y Territorio. (2018). Decreto 2412. Bogotá", " ")

        +referenciaItem("Mheducation. (2018). Innovación Empresarial. España. ", "https://www.mheducation.es/bcv/guide/capitulo/8448614224.pdf")

        +referenciaItem("National Geographic. (2017). El 91 por ciento del plástico que fabricamos no se recicla.", "https://www.nationalgeographic.es/medio-ambiente/2017/07/el-91-por-ciento-del-plastico-que-fabricamos-no-se-recicla")
        +referenciaItem("National Geographic. (2018). Planeta o plástico.", "https://www.nationalgeographic.es/plasticpledge")

        +referenciaItem("Llamas Fernández, F. J., & Fernández Rodríguez, J. C. (2018). La metodología Lean Startup: desarrollo y aplicación para el emprendimiento. Revista EAN, (84), 79-95.", " ")

        +referenciaItem("Pretlove, B. y Blasiak, R. (2018). Mapping Ocean Governance and Regulation. Working paper for consultation for UN Global Compact Action Platform for Sustainable Ocean Business. ", "https://www.researchgate.net/publication/327884976_Mapping_Ocean_Governance_and_Regulation/link/5bab690345851574f7e686d0/download")

        +referenciaItem("Plattner, H. (2018). Guía del proceso creativo. Mini guía: una introducción al Design Thinking + Bootcamp bootleg.", " ")

        +referenciaItem("Pomar, P. (2018). Design Thinking: Mapa mental de la fase de ideación. Recuperado de: ", "https://thinkernautas.com/design-thinking-mapa-mental-la-fase-ideacion")

        +referenciaItem("UNEP. (2015). Transforming our world: the 2030 Agenda for Sustainable Development. C. ", "https://sustainabledevelopment.un.org/post2015/transformingourworld")                                                                                                                                                
        +referenciaItem("Verde, J. (2018). Innovación y economía circular. Publicado : 10.07.2018. El país.com. ", "https://retina.elpais.com/retina/2018/07/10/innovacion/1531221151_851035.html")

        +referenciaItem("Vernadsky, V. I. (1997). La biosfera. Madrid: Fundación Argentaria.", " ")

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            